.navbar-nav{
    margin-left: auto;
}

a{
    text-decoration: none;
    color: #ffa600;
    font-weight: 600;
}

.liner::after{
    content: '';
    border-bottom: 5px solid #ff6f0f;
    margin: 0 auto;
    width: 100px;
    display: block;
    padding: 5px 0;
}